# DCS 540 Data Preparation (DSC540-T301 2225-1)
## Bellevue University
## Project: Milestone 3
## Author: Jake Meyer
## Date: 05/08/2022

## Milestone 3: Website Data Cleaning
Website source listed below:

[Data Scientist Salary Data from Zippia](https://www.zippia.com/data-scientist-jobs/salary/#by-industry)

In [69]:
'''
Import the necessary libraries to transform and/or clean the website data from Zippia.
''' 
!pip install tabula-py xlrd lxml

!pip install openpyxl

import numpy as np

import pandas as pd
   
from bs4 import BeautifulSoup

import requests

import html5lib

Requirement already satisfied: tabula-py in c:\users\jkmey\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: xlrd in c:\users\jkmey\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: lxml in c:\users\jkmey\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: numpy in c:\users\jkmey\anaconda3\lib\site-packages (from tabula-py) (1.20.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\jkmey\anaconda3\lib\site-packages (from tabula-py) (1.3.4)
Requirement already satisfied: distro in c:\users\jkmey\anaconda3\lib\site-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jkmey\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\jkmey\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\jkmey\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\jkmey\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\jkmey\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [98]:
'''
Create a request to the zippia website and store as source.
Read the website content with BeautifulSoup().
'''
source = requests.get('https://www.zippia.com/data-scientist-jobs/salary').text
soup = BeautifulSoup(source, 'lxml')

In [99]:
print(soup.prettify())

<!DOCTYPE html>
<html lang="en-US">
 <head>
  <base href="/"/>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <link href="/ui-router/images/favicon.ico" rel="icon" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com" rel="preconnect"/>
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.gstatic.com" rel="dns-prefetch"/>
  <link data-href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700&amp;display=swap" rel="stylesheet"/>
  <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
  <meta content="height=device-height,  width=device-width, initial-scale=1.0,  minimum-scale=1.0, maximum-scale=1.0,  user-scalable=no, target-densitydpi=device-dpi, viewport-fit=cover" name="viewport"/>
  <title>
   Data Scientist Salary (April 2022) - Zippia | Average Data Scientist Salaries Hourly And Annual
  </title>
  <meta content="The average salary for &lt;jobTitleArticle&gt; Data Scientist is $102,000 per year, or $49.39 per hour in United States. Find out the average by state, years of experience, field. Data Scientist gender pay gap, race wage gap and income by education level." name="description"/>
  <meta content="" name="author"/>
  <meta content="Data Scientist Salary (April 2022) - Zippia | Average Data Scientist Salaries Hourly And Annual" property="og:title"/>
  <meta content="website" property="og:type"/>
  <meta content="https://www.zippia.com/data-scientist-jobs/salary/" property="og:url"/>
  <meta content="The average salary for &lt;jobTitleArticle&gt; Data Scientist is $102,000 per year, or $49.39 per hour in United States. Find out the average by state, years of experience, field. Data Scientist gender pay gap, race wage gap and income by education level." property="og:description"/>
  <meta content="2020-05-18T00:00:00-08:00" property="article:published_time"/>
  <meta content="2022-02-09T02:00:00-08:00" property="article:modified_time"/>
  <meta content="2022-02-09T02:00:00-08:00" property="og:updated_time"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="@ZippiaInc" name="twitter:site"/>
  <meta content="Data Scientist Salary (April 2022) - Zippia | Average Data Scientist Salaries Hourly And Annual" name="twitter:title"/>
  <meta content="https://www.zippia.com/data-scientist-jobs/salary/" name="twitter:url"/>
  <meta content="The average salary for &lt;jobTitleArticle&gt; Data Scientist is $102,000 per year, or $49.39 per hour in United States. Find out the average by state, years of experience, field. Data Scientist gender pay gap, race wage gap and income by education level." name="twitter:description"/>
  <meta charset="utf-8"/>
  <meta content="https://static.zippia.com/assets/zippia-og-image.png" name="twitter:image:src"/>
  <meta content="508633732650088" property="fb:app_id"/>
  <meta content="https://static.zippia.com/assets/zippia-og-image.png" property="og:image"/>
  <link href="https://www.zippia.com/data-scientist-jobs/salary/" rel="canonical"/>
  <script>
   var pageCategory = 'Career Salary Page';
  </script>
  <script>
   var userGroup = 'majorSalarySections.groupC+jobSearchSituation.groupA+bcpShowTestCategories.groupA+cmpShowIllustrationCharts.groupA+dynamicSurvey.groupB+dashboardFlow.groupB+remoteJobsFilters.groupA+leftPanelUI.groupB+showJobScore.groupC+paidFixedPos.groupB+joblistVsCarousel.groupB+dlpResumeCallout.groupA+animatedCallout.groupB+LTRcityPage.groupA';
  </script>
  <script type="application/ld+json">
   [{"@context":"http://schema.googleapis.com/","@type":"Occupation","mainEntityOfPage":{"@type":"WebPage","lastReviewed":"2020-12-31T00:00:00-08:00"},"estimatedSalary":[{"@type":"MonetaryAmountDistribution","name":"base","currency":"USD","duration":"P1Y","unitText":"YEAR","median":102732,"percentile10":74000,"percentile25":86000,"percentile75":121000,"percentile90":142000}],"occupationLocation":{"@type":"Country","name":"US"}},{"@context":"https://schema.org","@type":"WebPage","dateModified":"2022-02-09T02:00:00-08:00"},{"@context":"https://schema.org","@type":"Person","name":"Dr. Mark Fridline Ph.D.","url":"https://www.zippia.com/data-scientist-jobs/trends/#section-professor-undefined","image":"https://www.uakron.edu/contentAsset/image/1156447/fileAsset/byInode/1/filter/Resize/resize_w/100","jobTitle":"Associate Chair"},{"@context":"https://schema.org","@type":"FAQPage","mainEntity":[{"@type":"Question","name":"How much does a data scientist make?","acceptedAnswer":{"@type":"Answer","text":"<p><b>A data scientist makes around $103,930 a year ($49.97 an hour).</b> The salary range for a data scientist can start anywhere from as low as $52,000 a year to as high as $160,000 a year.</p><p>Variations in pay rate reflect several factors, including the data scientist's industry and the number of years working in the job.</p><p><b>Examples of Industry Pay Rates for Data Scientists:</b></p><ul class=\"large-bullets\"><li><p><b>Computer Systems Design</b> averages $111,490 a year ($53.60 an hour)</p></li><li><p><b>Management of Companies and Enterprises</b> averages $107,980 a year ($51.91 an hour)</p></li><li><p><b>Management, Scientific, and Technical Consulting Services</b> averages $100,800 a year ($48.46 an hour)</p></li><li><p><b>Scientific Research and Development Services</b> averages $109,619 a year ($52.70 an hour)</p></li><li><p><b>Insurance Carriers</b> averages $104,670 a year ($50.33 an hour)</p></li></ul><p><b>Number of years of experience as a data scientist and pay rate:</b></p><ul class=\"large-bullets\"><li><p>Entry-level data scientists (0 to 3 years of experience) start around $95,000 a year.</p></li><li><p>Mid-level data scientists (4 to 7 years of experience) average $130,000 a year.</p></li><li><p>A senior data scientist (8 to 14 years) averages $150,000 a year</p></li><li><p>An experienced data scientist (15 or more years) averages $165,000 a year</p></li></ul>"}},{"@type":"Question","name":"Is data science high-paying?","acceptedAnswer":{"@type":"Answer","text":"<p><b>Yes, data science is high-paying.</b> The median salary for a mid-level data scientist is $130,000 a year. If this data scientist is also in a managerial role, the median salary rises to $195,000 a year.</p><p>Factors that impact the earning potential of a data scientist include the company, the industry, and the job location.</p><p><b>The top-paying companies for data scientists.</b></p><ul class=\"large-bullets\"><li><p>Nvidia: $197,500 a year.</p></li><li><p>Pinterest: $162,931 a year</p></li><li><p>Lyft: $157,900 a year</p></li><li><p>Google: $152,856 a year</p></li><li><p>Apple: $145,974 a year</p></li><li><p>Uber: $144,690 a year</p></li><li><p>Walmart: $137,270 a year</p></li><li><p>Twitter: $135,360 a year</p></li><li><p>Facebook: $134,715 a year</p></li><li><p>PayPal: $132,909 a year</p></li><li><p>Airbnb: $127,852 a year</p></li><li><p>Microsoft: $123,328 a year</p></li></ul><p><b>The industries with the highest median data science salaries are:</b></p><ul class=\"large-bullets\"><li><p>Cloud services, hosting, and CDN</p></li><li><p>Search and social networking</p></li><li><p>Banking and finance</p></li></ul><p><b>Top 5 Paying Industries for Data Scientists.</b></p><ul class=\"large-bullets\"><li><p><b>Computer and Peripheral Equipment Manufacturing</b> averages $144,090 a year ($69.28 an hour)</p></li><li><p><b>Securities, Commodity Contracts, and Other Financial Investments</b> averages $143,490 a year ($68.99 an hour)</p></li><li><p><b>Merchant Wholesalers, Durable Goods</b> averages $142,300 a year ($69.41 an hour)</p></li><li><p><b>Schools and Instruction</b> averages $139,120 a year ($68.88 an hour)</p></li><li><p><b>Monetary Authorities-Central Bank</b> averages $126,590 a year ($60.89 an hour)</p></li></ul><p><b>Top Paying States for Data Scientists.</b></p><ul class=\"large-bullets\"><li><p><b>California</b> averages $129,060 a year ($62.05 an hour)</p></li><li><p><b>New York</b> averages $124,240 a year ($59.73 an hour)</p></li><li><p><b>Washington</b> averages $118,320 a year ($56.88 an hour)</p></li><li><p><b>North Carolina</b> averages $117,370 a year $56.43 an hour)</p></li><li><p><b>New Jersey</b> averages $116,250 a year ($55.89 an hour)</p></li></ul><p><b>Top Paying Metropolitan Areas</b></p><ul class=\"large-bullets\"><li><p><b>San Francisco-Oakland-Hayward, CA</b> averages $148,680 a year ($71.48 an hour)</p></li><li><p><b>San Jose-Sunnyvale-Santa Clara, CA</b> averages $1486,400 a year ($70.39 an hour)</p></li><li><p><b>New York-Newark-Jersey City, NY-NJ-PA</b> averages $129,6250 a year ($62.14 an hour)</p></li><li><p><b>Durham-Chapel Hill, NC</b> averages $125,790 a year ($60.47 an hour)</p></li><li><p><b>Charlotte-Concord-Gastonia, NC-SC</b> averages $124,850 a year ($60.03 an hour)</p></li><li><p><b>Seattle-Tacoma-Bellevue, WA</b> averages $121,090 a year ($58.22 an hour)</p></li><li><p><b>Boise City, ID</b> averages $120,620 a year ($57.99 an hour)</p></li></ul>"}}]},{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Zippia Careers","item":"https://www.zippia.com/careers/"},{"@type":"ListItem","position":2,"name":"Computer and Mathematical Industry","item":"https://www.zippia.com/computer-and-mathematical-industry/"},{"@type":"ListItem","position":3,"name":"Data Scientist","item":"https://www.zippia.com/data-scientist-jobs/"}]}]
  </script>
  <meta content="26" name="next-head-count"/>
  <link as="style" crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/a02fc78e7910e1a9f127.css" rel="preload"/>
  <link crossorigin="anonymous" data-n-g="" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/a02fc78e7910e1a9f127.css" rel="stylesheet"/>
  <link as="style" crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/afa4bab965037dd4ae7a.css" rel="preload"/>
  <link crossorigin="anonymous" data-n-p="" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/afa4bab965037dd4ae7a.css" rel="stylesheet"/>
  <link as="style" crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/37a8067a59ebdf34fee4.css" rel="preload"/>
  <link crossorigin="anonymous" data-n-p="" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/37a8067a59ebdf34fee4.css" rel="stylesheet"/>
  <link as="style" crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/f8b37029d33500b1e862.css" rel="preload"/>
  <link crossorigin="anonymous" data-n-p="" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/f8b37029d33500b1e862.css" rel="stylesheet"/>
  <link as="style" crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/a349de573aee8c57d36b.css" rel="preload"/>
  <link crossorigin="anonymous" href="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/css/a349de573aee8c57d36b.css" rel="stylesheet"/>
  <noscript data-n-css="">
  </noscript>
  <script crossorigin="anonymous" defer="" nomodule="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/polyfills-a40ef1678bae11e696dba45124eadd70.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/914.46c03c35e42d1b17f34c.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/117.6a37402713065979aaa9.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/9835.cb4ac2afcae223e7b55a.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/webpack-9a3c00f25dc4ca7bbd6a.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/framework-078c0ea24fcfb6ae03f4.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/main-cec48d0de3e9f03a49ba.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/pages/_app-132a50cc6fee2b7106f7.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/b7fc2e37-cd05483087a3a31cff14.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/e971612a-91ec988672647bbfe8db.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/8278-dbeb3749e84e3f359e4d.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/8579-859d48a430672f6725b4.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/8397-7b8d9e9fc9dbf7a3bc73.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/6127-8d8f9ebb937382725b05.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/7827-42965bf004a4dd074fd4.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/7005-3c2b4aa166021614465f.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/5463-435420b567a911709283.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/551-131adb126ae90843702f.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/5140-43973e42fff4f663b146.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/7505-eea46ef10e728c96eadf.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/3797-28ad42e5a15a2c27f768.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/4763-9f8bac7b5eddd4abb455.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/7156-e35de044f6cdf89609eb.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/1328-061a8770f0796f1b7eaa.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/3065-4b96bc11e706155c89ec.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/703-1d0e240f2ccaa16910f0.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/7423-7423ca894fe907a22cb6.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/chunks/pages/salaryJobPage-8bb3b6d2964a47a84f38.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/EP-zEJrW3fkLbRNLKPpBM/_buildManifest.js">
  </script>
  <script crossorigin="anonymous" defer="" src="https://static.zippia.com/ui-router/green/2.4.3.p3/2022-04-28-16-08-17-536/b4b7c4ea43316487e285d61bf3a79e4a4d243a3b/_next/static/EP-zEJrW3fkLbRNLKPpBM/_ssgManifest.js">
  </script>
  <style data-href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500,700&amp;display=swap">

In [100]:
all_tables = soup.find_all('table')
print("There are {} tables in this file.".format(len(all_tables)))

There are 12 tables in this file.

In [116]:
all_tables[2]

<table class="table_table__1SUby custom-table"><thead><tr class="table_headRow__3CMnb table-head-row"><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">City</th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Avg. Salary</th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Hourly Rate</th></tr></thead><tbody></tbody></table>

In [102]:
city_table = all_tables[2]

In [103]:
print(type(city_table))

<class 'bs4.element.Tag'>

In [104]:
print(city_table.prettify())

<table class="table_table__1SUby custom-table">
 <thead>
  <tr class="table_headRow__3CMnb table-head-row">
   <th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">
    City
   </th>
   <th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">
    Avg. Salary
   </th>
   <th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">
    Hourly Rate
   </th>
  </tr>
 </thead>
 <tbody>
 </tbody>
</table>

In [316]:
string = '''
<table class="table_table__1SUby custom-table"><thead><tr class="table_headRow__3CMnb table-head-row"><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font table_selected__1rekk">City<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1 selected" alt="asc" width="8" height="5"></a></th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Avg. Salary<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Hourly Rate<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th></tr></thead><tbody><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Arlington, VA</td><td class="table_data__1f5rh table-data z-pl-20">$90,649</td><td class="table_data__1f5rh table-data z-pl-20">$43.58</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Austin, TX</td><td class="table_data__1f5rh table-data z-pl-20">$88,720</td><td class="table_data__1f5rh table-data z-pl-20">$42.65</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Bentonville, AR</td><td class="table_data__1f5rh table-data z-pl-20">$82,474</td><td class="table_data__1f5rh table-data z-pl-20">$39.65</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Boston, MA</td><td class="table_data__1f5rh table-data z-pl-20">$94,202</td><td class="table_data__1f5rh table-data z-pl-20">$45.29</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Chicago, IL</td><td class="table_data__1f5rh table-data z-pl-20">$86,137</td><td class="table_data__1f5rh table-data z-pl-20">$41.41</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Columbus, GA</td><td class="table_data__1f5rh table-data z-pl-20">$82,140</td><td class="table_data__1f5rh table-data z-pl-20">$39.49</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Columbus, OH</td><td class="table_data__1f5rh table-data z-pl-20">$86,664</td><td class="table_data__1f5rh table-data z-pl-20">$41.67</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Denver, CO</td><td class="table_data__1f5rh table-data z-pl-20">$81,990</td><td class="table_data__1f5rh table-data z-pl-20">$39.42</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Detroit, MI</td><td class="table_data__1f5rh table-data z-pl-20">$86,286</td><td class="table_data__1f5rh table-data z-pl-20">$41.48</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Jersey City, NJ</td><td class="table_data__1f5rh table-data z-pl-20">$94,662</td><td class="table_data__1f5rh table-data z-pl-20">$45.51</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Madison, WI</td><td class="table_data__1f5rh table-data z-pl-20">$81,874</td><td class="table_data__1f5rh table-data z-pl-20">$39.36</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Minneapolis, MN</td><td class="table_data__1f5rh table-data z-pl-20">$86,134</td><td class="table_data__1f5rh table-data z-pl-20">$41.41</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">New York, NY</td><td class="table_data__1f5rh table-data z-pl-20">$102,427</td><td class="table_data__1f5rh table-data z-pl-20">$49.24</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Philadelphia, PA</td><td class="table_data__1f5rh table-data z-pl-20">$90,231</td><td class="table_data__1f5rh table-data z-pl-20">$43.38</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Phoenix, AZ</td><td class="table_data__1f5rh table-data z-pl-20">$88,469</td><td class="table_data__1f5rh table-data z-pl-20">$42.53</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Raleigh, NC</td><td class="table_data__1f5rh table-data z-pl-20">$83,965</td><td class="table_data__1f5rh table-data z-pl-20">$40.37</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Saint Louis, MO</td><td class="table_data__1f5rh table-data z-pl-20">$81,195</td><td class="table_data__1f5rh table-data z-pl-20">$39.04</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">San Francisco, CA</td><td class="table_data__1f5rh table-data z-pl-20">$138,170</td><td class="table_data__1f5rh table-data z-pl-20">$66.43</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Seattle, WA</td><td class="table_data__1f5rh table-data z-pl-20">$122,139</td><td class="table_data__1f5rh table-data z-pl-20">$58.72</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Washington, DC</td><td class="table_data__1f5rh table-data z-pl-20">$92,707</td><td class="table_data__1f5rh table-data z-pl-20">$44.57</td></tr></tbody></table>'''
city_list = pd.read_html(string)

In [317]:
city_df = pd.concat(city_list)
city_df

                 City Avg. Salary Hourly Rate
0       Arlington, VA     $90,649      $43.58
1          Austin, TX     $88,720      $42.65
2     Bentonville, AR     $82,474      $39.65
3          Boston, MA     $94,202      $45.29
4         Chicago, IL     $86,137      $41.41
5        Columbus, GA     $82,140      $39.49
6        Columbus, OH     $86,664      $41.67
7          Denver, CO     $81,990      $39.42
8         Detroit, MI     $86,286      $41.48
9     Jersey City, NJ     $94,662      $45.51
10        Madison, WI     $81,874      $39.36
11    Minneapolis, MN     $86,134      $41.41
12       New York, NY    $102,427      $49.24
13   Philadelphia, PA     $90,231      $43.38
14        Phoenix, AZ     $88,469      $42.53
15        Raleigh, NC     $83,965      $40.37
16    Saint Louis, MO     $81,195      $39.04
17  San Francisco, CA    $138,170      $66.43
18        Seattle, WA    $122,139      $58.72
19     Washington, DC     $92,707      $44.57

In [318]:
string2 = '''
<table class="table_table__1SUby custom-table"><thead><tr class="table_headRow__3CMnb table-head-row"><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">State<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Avg. Salary<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Hourly Rate<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th><th class="table_head__2GBnl z-pr-0 z-pr-md-4 z-pl-20 position-relative custom-table-head semi-bold-font">Job Count<a class="table_sort__3OGio d-inline-block text-center z-ml-4 sortyby"><img src="https://static.zippia.com/ui-router/images/top_sort_unselected.png" class="position-relative z-m-1" alt="asc" width="8" height="5"><img src="https://static.zippia.com/ui-router/images/bottom_sort_unselected.png" class="position-relative z-m-1" alt="desc" width="8" height="5"></a></th></tr></thead><tbody><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Alabama</td><td class="table_data__1f5rh table-data z-pl-20">$77,743</td><td class="table_data__1f5rh table-data z-pl-20">$37.38</td><td class="table_data__1f5rh table-data z-pl-20">390</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Alaska</td><td class="table_data__1f5rh table-data z-pl-20">$84,755</td><td class="table_data__1f5rh table-data z-pl-20">$40.75</td><td class="table_data__1f5rh table-data z-pl-20">148</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Arizona</td><td class="table_data__1f5rh table-data z-pl-20">$88,333</td><td class="table_data__1f5rh table-data z-pl-20">$42.47</td><td class="table_data__1f5rh table-data z-pl-20">831</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Arkansas</td><td class="table_data__1f5rh table-data z-pl-20">$82,909</td><td class="table_data__1f5rh table-data z-pl-20">$39.86</td><td class="table_data__1f5rh table-data z-pl-20">266</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">California</td><td class="table_data__1f5rh table-data z-pl-20">$126,682</td><td class="table_data__1f5rh table-data z-pl-20">$60.90</td><td class="table_data__1f5rh table-data z-pl-20">3,874</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Colorado</td><td class="table_data__1f5rh table-data z-pl-20">$82,112</td><td class="table_data__1f5rh table-data z-pl-20">$39.48</td><td class="table_data__1f5rh table-data z-pl-20">877</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Connecticut</td><td class="table_data__1f5rh table-data z-pl-20">$92,237</td><td class="table_data__1f5rh table-data z-pl-20">$44.34</td><td class="table_data__1f5rh table-data z-pl-20">678</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Delaware</td><td class="table_data__1f5rh table-data z-pl-20">$95,563</td><td class="table_data__1f5rh table-data z-pl-20">$45.94</td><td class="table_data__1f5rh table-data z-pl-20">241</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">District of Columbia</td><td class="table_data__1f5rh table-data z-pl-20">$92,648</td><td class="table_data__1f5rh table-data z-pl-20">$44.54</td><td class="table_data__1f5rh table-data z-pl-20">504</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Florida</td><td class="table_data__1f5rh table-data z-pl-20">$76,936</td><td class="table_data__1f5rh table-data z-pl-20">$36.99</td><td class="table_data__1f5rh table-data z-pl-20">1,801</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Georgia</td><td class="table_data__1f5rh table-data z-pl-20">$81,997</td><td class="table_data__1f5rh table-data z-pl-20">$39.42</td><td class="table_data__1f5rh table-data z-pl-20">1,275</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Hawaii</td><td class="table_data__1f5rh table-data z-pl-20">$85,453</td><td class="table_data__1f5rh table-data z-pl-20">$41.08</td><td class="table_data__1f5rh table-data z-pl-20">160</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Idaho</td><td class="table_data__1f5rh table-data z-pl-20">$88,982</td><td class="table_data__1f5rh table-data z-pl-20">$42.78</td><td class="table_data__1f5rh table-data z-pl-20">249</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Illinois</td><td class="table_data__1f5rh table-data z-pl-20">$85,726</td><td class="table_data__1f5rh table-data z-pl-20">$41.21</td><td class="table_data__1f5rh table-data z-pl-20">2,023</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Indiana</td><td class="table_data__1f5rh table-data z-pl-20">$79,391</td><td class="table_data__1f5rh table-data z-pl-20">$38.17</td><td class="table_data__1f5rh table-data z-pl-20">712</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Iowa</td><td class="table_data__1f5rh table-data z-pl-20">$78,285</td><td class="table_data__1f5rh table-data z-pl-20">$37.64</td><td class="table_data__1f5rh table-data z-pl-20">427</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Kansas</td><td class="table_data__1f5rh table-data z-pl-20">$78,037</td><td class="table_data__1f5rh table-data z-pl-20">$37.52</td><td class="table_data__1f5rh table-data z-pl-20">388</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Kentucky</td><td class="table_data__1f5rh table-data z-pl-20">$78,352</td><td class="table_data__1f5rh table-data z-pl-20">$37.67</td><td class="table_data__1f5rh table-data z-pl-20">396</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Louisiana</td><td class="table_data__1f5rh table-data z-pl-20">$80,084</td><td class="table_data__1f5rh table-data z-pl-20">$38.50</td><td class="table_data__1f5rh table-data z-pl-20">315</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Maine</td><td class="table_data__1f5rh table-data z-pl-20">$78,384</td><td class="table_data__1f5rh table-data z-pl-20">$37.68</td><td class="table_data__1f5rh table-data z-pl-20">196</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Maryland</td><td class="table_data__1f5rh table-data z-pl-20">$90,523</td><td class="table_data__1f5rh table-data z-pl-20">$43.52</td><td class="table_data__1f5rh table-data z-pl-20">1,516</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Massachusetts</td><td class="table_data__1f5rh table-data z-pl-20">$94,404</td><td class="table_data__1f5rh table-data z-pl-20">$45.39</td><td class="table_data__1f5rh table-data z-pl-20">1,684</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Michigan</td><td class="table_data__1f5rh table-data z-pl-20">$86,008</td><td class="table_data__1f5rh table-data z-pl-20">$41.35</td><td class="table_data__1f5rh table-data z-pl-20">872</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Minnesota</td><td class="table_data__1f5rh table-data z-pl-20">$85,967</td><td class="table_data__1f5rh table-data z-pl-20">$41.33</td><td class="table_data__1f5rh table-data z-pl-20">947</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Mississippi</td><td class="table_data__1f5rh table-data z-pl-20">$78,315</td><td class="table_data__1f5rh table-data z-pl-20">$37.65</td><td class="table_data__1f5rh table-data z-pl-20">160</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Missouri</td><td class="table_data__1f5rh table-data z-pl-20">$80,712</td><td class="table_data__1f5rh table-data z-pl-20">$38.80</td><td class="table_data__1f5rh table-data z-pl-20">868</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Montana</td><td class="table_data__1f5rh table-data z-pl-20">$73,626</td><td class="table_data__1f5rh table-data z-pl-20">$35.40</td><td class="table_data__1f5rh table-data z-pl-20">197</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Nebraska</td><td class="table_data__1f5rh table-data z-pl-20">$75,594</td><td class="table_data__1f5rh table-data z-pl-20">$36.34</td><td class="table_data__1f5rh table-data z-pl-20">284</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Nevada</td><td class="table_data__1f5rh table-data z-pl-20">$93,869</td><td class="table_data__1f5rh table-data z-pl-20">$45.13</td><td class="table_data__1f5rh table-data z-pl-20">278</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">New Hampshire</td><td class="table_data__1f5rh table-data z-pl-20">$86,179</td><td class="table_data__1f5rh table-data z-pl-20">$41.43</td><td class="table_data__1f5rh table-data z-pl-20">292</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">New Jersey</td><td class="table_data__1f5rh table-data z-pl-20">$94,526</td><td class="table_data__1f5rh table-data z-pl-20">$45.45</td><td class="table_data__1f5rh table-data z-pl-20">1,845</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">New Mexico</td><td class="table_data__1f5rh table-data z-pl-20">$79,613</td><td class="table_data__1f5rh table-data z-pl-20">$38.28</td><td class="table_data__1f5rh table-data z-pl-20">311</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">New York</td><td class="table_data__1f5rh table-data z-pl-20">$102,130</td><td class="table_data__1f5rh table-data z-pl-20">$49.10</td><td class="table_data__1f5rh table-data z-pl-20">2,735</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">North Carolina</td><td class="table_data__1f5rh table-data z-pl-20">$83,303</td><td class="table_data__1f5rh table-data z-pl-20">$40.05</td><td class="table_data__1f5rh table-data z-pl-20">1,788</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">North Dakota</td><td class="table_data__1f5rh table-data z-pl-20">$76,242</td><td class="table_data__1f5rh table-data z-pl-20">$36.65</td><td class="table_data__1f5rh table-data z-pl-20">155</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Ohio</td><td class="table_data__1f5rh table-data z-pl-20">$87,588</td><td class="table_data__1f5rh table-data z-pl-20">$42.11</td><td class="table_data__1f5rh table-data z-pl-20">1,164</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Oklahoma</td><td class="table_data__1f5rh table-data z-pl-20">$77,146</td><td class="table_data__1f5rh table-data z-pl-20">$37.09</td><td class="table_data__1f5rh table-data z-pl-20">236</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Oregon</td><td class="table_data__1f5rh table-data z-pl-20">$101,355</td><td class="table_data__1f5rh table-data z-pl-20">$48.73</td><td class="table_data__1f5rh table-data z-pl-20">596</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Pennsylvania</td><td class="table_data__1f5rh table-data z-pl-20">$89,722</td><td class="table_data__1f5rh table-data z-pl-20">$43.14</td><td class="table_data__1f5rh table-data z-pl-20">1,804</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Rhode Island</td><td class="table_data__1f5rh table-data z-pl-20">$88,971</td><td class="table_data__1f5rh table-data z-pl-20">$42.77</td><td class="table_data__1f5rh table-data z-pl-20">180</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">South Carolina</td><td class="table_data__1f5rh table-data z-pl-20">$77,818</td><td class="table_data__1f5rh table-data z-pl-20">$37.41</td><td class="table_data__1f5rh table-data z-pl-20">423</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">South Dakota</td><td class="table_data__1f5rh table-data z-pl-20">$75,861</td><td class="table_data__1f5rh table-data z-pl-20">$36.47</td><td class="table_data__1f5rh table-data z-pl-20">184</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Tennessee</td><td class="table_data__1f5rh table-data z-pl-20">$83,521</td><td class="table_data__1f5rh table-data z-pl-20">$40.15</td><td class="table_data__1f5rh table-data z-pl-20">551</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Texas</td><td class="table_data__1f5rh table-data z-pl-20">$87,577</td><td class="table_data__1f5rh table-data z-pl-20">$42.10</td><td class="table_data__1f5rh table-data z-pl-20">2,563</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Utah</td><td class="table_data__1f5rh table-data z-pl-20">$84,087</td><td class="table_data__1f5rh table-data z-pl-20">$40.43</td><td class="table_data__1f5rh table-data z-pl-20">510</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Vermont</td><td class="table_data__1f5rh table-data z-pl-20">$78,398</td><td class="table_data__1f5rh table-data z-pl-20">$37.69</td><td class="table_data__1f5rh table-data z-pl-20">123</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Virginia</td><td class="table_data__1f5rh table-data z-pl-20">$88,512</td><td class="table_data__1f5rh table-data z-pl-20">$42.55</td><td class="table_data__1f5rh table-data z-pl-20">1,789</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Washington</td><td class="table_data__1f5rh table-data z-pl-20">$119,916</td><td class="table_data__1f5rh table-data z-pl-20">$57.65</td><td class="table_data__1f5rh table-data z-pl-20">1,222</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">West Virginia</td><td class="table_data__1f5rh table-data z-pl-20">$86,216</td><td class="table_data__1f5rh table-data z-pl-20">$41.45</td><td class="table_data__1f5rh table-data z-pl-20">176</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Wisconsin</td><td class="table_data__1f5rh table-data z-pl-20">$82,510</td><td class="table_data__1f5rh table-data z-pl-20">$39.67</td><td class="table_data__1f5rh table-data z-pl-20">679</td></tr><tr class="table_bodyRow__10Zw0 table-body-row"><td class="table_data__1f5rh table-data z-pl-20" style="width: 33%;">Wyoming</td><td class="table_data__1f5rh table-data z-pl-20">$73,335</td><td class="table_data__1f5rh table-data z-pl-20">$35.26</td><td class="table_data__1f5rh table-data z-pl-20">92</td></tr></tbody></table>
'''
state_list = pd.read_html(string2)

In [319]:
state_df = pd.concat(state_list)
state_df

                   State Avg. Salary Hourly Rate  Job Count
0                Alabama     $77,743      $37.38        390
1                 Alaska     $84,755      $40.75        148
2                Arizona     $88,333      $42.47        831
3               Arkansas     $82,909      $39.86        266
4             California    $126,682      $60.90       3874
5               Colorado     $82,112      $39.48        877
6            Connecticut     $92,237      $44.34        678
7               Delaware     $95,563      $45.94        241
8   District of Columbia     $92,648      $44.54        504
9                Florida     $76,936      $36.99       1801
10               Georgia     $81,997      $39.42       1275
11                Hawaii     $85,453      $41.08        160
12                 Idaho     $88,982      $42.78        249
13              Illinois     $85,726      $41.21       2023
14               Indiana     $79,391      $38.17        712
15                  Iowa     $78,285      $37.64        427
16                Kansas     $78,037      $37.52        388
17              Kentucky     $78,352      $37.67        396
18             Louisiana     $80,084      $38.50        315
19                 Maine     $78,384      $37.68        196
20              Maryland     $90,523      $43.52       1516
21         Massachusetts     $94,404      $45.39       1684
22              Michigan     $86,008      $41.35        872
23             Minnesota     $85,967      $41.33        947
24           Mississippi     $78,315      $37.65        160
25              Missouri     $80,712      $38.80        868
26               Montana     $73,626      $35.40        197
27              Nebraska     $75,594      $36.34        284
28                Nevada     $93,869      $45.13        278
29         New Hampshire     $86,179      $41.43        292
30            New Jersey     $94,526      $45.45       1845
31            New Mexico     $79,613      $38.28        311
32              New York    $102,130      $49.10       2735
33        North Carolina     $83,303      $40.05       1788
34          North Dakota     $76,242      $36.65        155
35                  Ohio     $87,588      $42.11       1164
36              Oklahoma     $77,146      $37.09        236
37                Oregon    $101,355      $48.73        596
38          Pennsylvania     $89,722      $43.14       1804
39          Rhode Island     $88,971      $42.77        180
40        South Carolina     $77,818      $37.41        423
41          South Dakota     $75,861      $36.47        184
42             Tennessee     $83,521      $40.15        551
43                 Texas     $87,577      $42.10       2563
44                  Utah     $84,087      $40.43        510
45               Vermont     $78,398      $37.69        123
46              Virginia     $88,512      $42.55       1789
47            Washington    $119,916      $57.65       1222
48         West Virginia     $86,216      $41.45        176
49             Wisconsin     $82,510      $39.67        679
50               Wyoming     $73,335      $35.26         92

## Perform data transformation and/or cleansing steps

### Data Transformation and/or Cleansing Step 1:
Separate out the City and State data from the "City" column in city_df. Store the resulting values in 'city' and 'state' columns within the DataFrame.This step is required so the data can be merged based on 'state' in a later step.

In [320]:
city_df[['city','state']] = city_df['City'].str.split(",", n =1, expand = True)

In [321]:
city_df.head(10)

              City Avg. Salary Hourly Rate         city state
0    Arlington, VA     $90,649      $43.58    Arlington    VA
1       Austin, TX     $88,720      $42.65       Austin    TX
2  Bentonville, AR     $82,474      $39.65  Bentonville    AR
3       Boston, MA     $94,202      $45.29       Boston    MA
4      Chicago, IL     $86,137      $41.41      Chicago    IL
5     Columbus, GA     $82,140      $39.49     Columbus    GA
6     Columbus, OH     $86,664      $41.67     Columbus    OH
7       Denver, CO     $81,990      $39.42       Denver    CO
8      Detroit, MI     $86,286      $41.48      Detroit    MI
9  Jersey City, NJ     $94,662      $45.51  Jersey City    NJ

### Data Transformation and/or Cleansing Step 2:
Strip the whitespace in the 'city' and 'state' columns from city_df. This will help with the merging of the two DataFrames.

In [322]:
city_df['city'] = city_df['city'].str.strip()
city_df['state'] = city_df['state'].str.strip()

In [323]:
city_df.head(5)

              City Avg. Salary Hourly Rate         city state
0    Arlington, VA     $90,649      $43.58    Arlington    VA
1       Austin, TX     $88,720      $42.65       Austin    TX
2  Bentonville, AR     $82,474      $39.65  Bentonville    AR
3       Boston, MA     $94,202      $45.29       Boston    MA
4      Chicago, IL     $86,137      $41.41      Chicago    IL

### Data Transformation and/or Cleansing Step 3:
Remove the 'City' column from city_df. Rearrange the columns so that 'city' and 'state' are the first two columns of the DataFrame.

In [324]:
city_df.drop(['City'], axis = 1, inplace = True)

In [325]:
city_df = city_df[['city','state','Avg. Salary','Hourly Rate']]
city_df.head(5)

          city state Avg. Salary Hourly Rate
0    Arlington    VA     $90,649      $43.58
1       Austin    TX     $88,720      $42.65
2  Bentonville    AR     $82,474      $39.65
3       Boston    MA     $94,202      $45.29
4      Chicago    IL     $86,137      $41.41

### Data Transformation and/or Cleansing Step 4:
Rename the column names so they are easier to distinguish for merging the data. Another reason to rename is the spaces in the names for the columns 'Avg. Salary' and 'Hourly Rate'.

In [326]:
column_names1 = ['city','state','average_salary','hourly_rate']

city_df.columns = column_names1
city_df.head(5)

          city state average_salary hourly_rate
0    Arlington    VA        $90,649      $43.58
1       Austin    TX        $88,720      $42.65
2  Bentonville    AR        $82,474      $39.65
3       Boston    MA        $94,202      $45.29
4      Chicago    IL        $86,137      $41.41

### Data Transformation and/or Cleansing Step 5:
Remove the dollar sign in the 'average_salary' and 'hourly_rate' columns in city_df. Then, assign the correct data type for both of these columns.

In [327]:
city_df['average_salary'] = city_df['average_salary'].replace({'\$':''}, regex = True)
city_df['hourly_rate'] = city_df['hourly_rate'].replace({'\$':''}, regex = True)

In [328]:
city_df.head(5)

          city state average_salary hourly_rate
0    Arlington    VA         90,649       43.58
1       Austin    TX         88,720       42.65
2  Bentonville    AR         82,474       39.65
3       Boston    MA         94,202       45.29
4      Chicago    IL         86,137       41.41

In [329]:
city_df['average_salary'] = pd.Series(city_df['average_salary']).str.replace(',','').astype(int)

In [330]:
city_df['hourly_rate'] = pd.Series(city_df['hourly_rate']).astype(float)

In [331]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   city            20 non-null     object
 1   state           20 non-null     object
 2   average_salary  20 non-null     int32
 3   hourly_rate     20 non-null     float64
dtypes: float64(1), int32(1), object(2)
memory usage: 688.0+ bytes

### Data Transformation and/or Cleansing Step 6:
Rename the columns in state_df. This will help eliminate spaces in the column names.

In [332]:
column_names2 = ['state_name','average_salary','hourly_rate','job_count']

state_df.columns = column_names2
state_df.head(5)

   state_name average_salary hourly_rate  job_count
0     Alabama        $77,743      $37.38        390
1      Alaska        $84,755      $40.75        148
2     Arizona        $88,333      $42.47        831
3    Arkansas        $82,909      $39.86        266
4  California       $126,682      $60.90       3874

### Data Transformation and/or Cleansing Step 6:
Remove the dollar sign in the 'average_salary' and 'hourly_rate' columns for state_df. Then, assign the correct data type for both of these columns.

In [333]:
state_df['average_salary'] = state_df['average_salary'].replace({'\$':''}, regex = True)
state_df['hourly_rate'] = state_df['hourly_rate'].replace({'\$':''}, regex = True)

In [334]:
state_df['average_salary'] = pd.Series(state_df['average_salary']).str.replace(',','').astype(int)

In [335]:
state_df['hourly_rate'] = pd.Series(state_df['hourly_rate']).astype(float)

In [336]:
state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state_name      51 non-null     object
 1   average_salary  51 non-null     int32
 2   hourly_rate     51 non-null     float64
 3   job_count       51 non-null     int64
dtypes: float64(1), int32(1), int64(1), object(1)
memory usage: 1.5+ KB

In [337]:
state_df.head(5)

   state_name  average_salary  hourly_rate  job_count
0     Alabama           77743        37.38        390
1      Alaska           84755        40.75        148
2     Arizona           88333        42.47        831
3    Arkansas           82909        39.86        266
4  California          126682        60.90       3874

### Data Transformation and/or Cleansing Step 7:
Create a dictionary of state as key and state abbreviations as value. Write the abbreviation values as a column 'state'
 in state_df. This will be used to help with the merge step. Use the map() method to create the additional column.

In [338]:
state_ranks = pd.read_csv("2021_state_ranks.csv")

In [339]:
state_dict = dict(zip(state_ranks['state_name'],state_ranks['state']))
state_dict

{'Washington': 'WA',
 'Minnesota': 'MN',
 'Utah': 'UT',
 'New Hampshire': 'NH',
 'Idaho': 'ID',
 'Nebraska': 'NE',
 'Virginia': 'VA',
 'Wisconsin': 'WI',
 'Massachusetts': 'MA',
 'Florida': 'FL',
 'Vermont': 'VT',
 'Iowa': 'IA',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'South Dakota': 'SD',
 'Colorado': 'CO',
 'Maryland': 'MD',
 'Georgia': 'GA',
 'New Jersey': 'NJ',
 'Connecticut': 'CT',
 'New York': 'NY',
 'Oregon': 'OR',
 'Delaware': 'DE',
 'California': 'CA',
 'Hawaii': 'HI',
 'Kansas': 'KS',
 'Maine': 'ME',
 'Missouri': 'MO',
 'Tennessee': 'TN',
 'Illinois': 'IL',
 'Texas': 'TX',
 'Indiana': 'IN',
 'Montana': 'MT',
 'Rhode Island': 'RI',
 'Wyoming': 'WY',
 'Ohio': 'OH',
 'Nevada': 'NV',
 'Michigan': 'MI',
 'Arizona': 'AZ',
 'Pennsylvania': 'PA',
 'Kentucky': 'KY',
 'South Carolina': 'SC',
 'Oklahoma': 'OK',
 'Arkansas': 'AK',
 'Alaska': 'AK',
 'Alabama': 'AL',
 'West Virginia': 'WV',
 'New Mexico': 'NM',
 'Mississippi': 'MS',
 'Louisiana': 'LA'}

In [340]:
state_df['state'] = state_df['state_name'].map(state_dict)

In [341]:
state_df.head(10)

             state_name  average_salary  hourly_rate  job_count state
0               Alabama           77743        37.38        390    AL
1                Alaska           84755        40.75        148    AK
2               Arizona           88333        42.47        831    AZ
3              Arkansas           82909        39.86        266    AK
4            California          126682        60.90       3874    CA
5              Colorado           82112        39.48        877    CO
6           Connecticut           92237        44.34        678    CT
7              Delaware           95563        45.94        241    DE
8  District of Columbia           92648        44.54        504   NaN
9               Florida           76936        36.99       1801    FL

### Data Transformation and/or Cleansing Step 8:
Merge the city_df and state_df DataFrames together based on 'state'.

In [342]:
city_df.set_index(['state'], inplace = True)
city_df.head(10)

              city  average_salary  hourly_rate
state
VA       Arlington           90649        43.58
TX          Austin           88720        42.65
AR     Bentonville           82474        39.65
MA          Boston           94202        45.29
IL         Chicago           86137        41.41
GA        Columbus           82140        39.49
OH        Columbus           86664        41.67
CO          Denver           81990        39.42
MI         Detroit           86286        41.48
NJ     Jersey City           94662        45.51

In [343]:
state_df.set_index(['state'], inplace = True)
state_df.head(10)

                 state_name  average_salary  hourly_rate  job_count
state
AL                  Alabama           77743        37.38        390
AK                   Alaska           84755        40.75        148
AZ                  Arizona           88333        42.47        831
AK                 Arkansas           82909        39.86        266
CA               California          126682        60.90       3874
CO                 Colorado           82112        39.48        877
CT              Connecticut           92237        44.34        678
DE                 Delaware           95563        45.94        241
NaN    District of Columbia           92648        44.54        504
FL                  Florida           76936        36.99       1801

In [344]:
final_df = pd.merge(state_df, city_df, on='state', how='left')
final_df

,state_name,average_salary_x,hourly_rate_x,job_count,city,average_salary_y,hourly_rate_y
state,,,,,,,
AL,Alabama,77743,37.38,390,NaN,NaN,NaN
AK,Alaska,84755,40.75,148,NaN,NaN,NaN
AZ,Arizona,88333,42.47,831,Phoenix,88469.0,42.53
AK,Arkansas,82909,39.86,266,NaN,NaN,NaN
CA,California,126682,60.90,3874,San Francisco,138170.0,66.43
CO,Colorado,82112,39.48,877,Denver,81990.0,39.42
CT,Connecticut,92237,44.34,678,NaN,NaN,NaN
DE,Delaware,95563,45.94,241,NaN,NaN,NaN
NaN,District of Columbia,92648,44.54,504,NaN,NaN,NaN
FL,Florida,76936,36.99,1801,NaN,NaN,NaN
GA,Georgia,81997,39.42,1275,Columbus,82140.0,39.49
HI,Hawaii,85453,41.08,160,NaN,NaN,NaN
ID,Idaho,88982,42.78,249,NaN,NaN,NaN
IL,Illinois,85726,41.21,2023,Chicago,86137.0,41.41
IN,Indiana,79391,38.17,712,NaN,NaN,NaN
IA,Iowa,78285,37.64,427,NaN,NaN,NaN
KS,Kansas,78037,37.52,388,NaN,NaN,NaN
KY,Kentucky,78352,37.67,396,NaN,NaN,NaN
LA,Louisiana,80084,38.50,315,NaN,NaN,NaN
ME,Maine,78384,37.68,196,NaN,NaN,NaN
MD,Maryland,90523,43.52,1516,NaN,NaN,NaN
MA,Massachusetts,94404,45.39,1684,Boston,94202.0,45.29
MI,Michigan,86008,41.35,872,Detroit,86286.0,41.48
MN,Minnesota,85967,41.33,947,Minneapolis,86134.0,41.41
MS,Mississippi,78315,37.65,160,NaN,NaN,NaN
MO,Missouri,80712,38.80,868,Saint Louis,81195.0,39.04
MT,Montana,73626,35.40,197,NaN,NaN,NaN
NE,Nebraska,75594,36.34,284,NaN,NaN,NaN
NV,Nevada,93869,45.13,278,NaN,NaN,NaN
NH,New Hampshire,86179,41.43,292,NaN,NaN,NaN
NJ,New Jersey,94526,45.45,1845,Jersey City,94662.0,45.51
NM,New Mexico,79613,38.28,311,NaN,NaN,NaN
NY,New York,102130,49.10,2735,New York,102427.0,49.24
NC,North Carolina,83303,40.05,1788,Raleigh,83965.0,40.37
ND,North Dakota,76242,36.65,155,NaN,NaN,NaN
OH,Ohio,87588,42.11,1164,Columbus,86664.0,41.67
OK,Oklahoma,77146,37.09,236,NaN,NaN,NaN
OR,Oregon,101355,48.73,596,NaN,NaN,NaN
PA,Pennsylvania,89722,43.14,1804,Philadelphia,90231.0,43.38
RI,Rhode Island,88971,42.77,180,NaN,NaN,NaN
SC,South Carolina,77818,37.41,423,NaN,NaN,NaN
SD,South Dakota,75861,36.47,184,NaN,NaN,NaN
TN,Tennessee,83521,40.15,551,NaN,NaN,NaN
TX,Texas,87577,42.10,2563,Austin,88720.0,42.65
UT,Utah,84087,40.43,510,NaN,NaN,NaN
VT,Vermont,78398,37.69,123,NaN,NaN,NaN
VA,Virginia,88512,42.55,1789,Arlington,90649.0,43.58
WA,Washington,119916,57.65,1222,Seattle,122139.0,58.72
WV,West Virginia,86216,41.45,176,NaN,NaN,NaN
WI,Wisconsin,82510,39.67,679,Madison,81874.0,39.36
WY,Wyoming,73335,35.26,92,NaN,NaN,NaN